@(myForm: Form[Persons])(message: String)
@import helper.twitterBootstrap._

@main("By Kamil Zielinski"){
<div class="page-header">
    <div class="container">
        <h1>Add person</h1>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>@message</h1>
        @helper.form(action = routes.Application.addPerson() ) {
        @helper.inputText(myForm("name"), '_label -> "Last name",  'size -> 100)
        @helper.inputText(myForm("surname"), '_label -> "Surname",  'size -> 100)
        @helper.inputDate(myForm("birthdate"),  '_label -> "Birth date")
        @helper.inputText(myForm("email"), '_label -> "E-mail", 'size -> 100)
        @helper.select(myForm("favoritedatabase"),options = Seq("1"->"PostgreSQL", "2"->"MySql", "3"->"Oracle", "4"->"MsSql"),'_label -> "Favorite Database" )
        @helper.textarea(field = myForm("notes"), 'id -> "notes",'_label -> "Notes")
        <button class="btn btn-success btn-lg">Add Person</button>
        }
    </div>
</div>
}






